.DS_Store
.build/
build/
*.bin
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.swp
*.swo
*~
xcuserdata/
*.xcscmblueprint
*.xccheckout
Pods/
Carthage/Build/
.swiftpm/
Package.resolved
